<p>Hello World</p>
<div class="center-container">
  <div class="formZ"><mat-card class="form-card">
    <mat-card-header>
      <h2>Recommandation d'offres d'emploi</h2>
    </mat-card-header>
    <mat-card-content>
      <div class="form-field">
        <mat-form-field appearance="fill">
          <mat-label>Compétence :</mat-label>
          <input matInput type="text" [(ngModel)]="competence">
        </mat-form-field>
      </div>
      <div class="form-field">
        <mat-form-field appearance="fill">
          <mat-label>Niveau d'études :</mat-label>
          <mat-select [(ngModel)]="niveauEtudes">
            <mat-option value="Bac+1">Bac+1</mat-option>
            <mat-option value="Bac+2">Bac+2</mat-option>
            <mat-option value="Bac+3">Bac+3</mat-option>
            <mat-option value="Bac+5">Bac+5</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-field">
        <mat-form-field appearance="fill">
          <mat-label>Expérience :</mat-label>
          <mat-select [(ngModel)]="experience">
            <mat-option value="Junior">Junior</mat-option>
            <mat-option value="Confirmé">Confirmé</mat-option>
            <mat-option value="Expert">Expert</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-field">
        <mat-form-field appearance="fill">
          <mat-label>Description du profil :</mat-label>
          <textarea matInput [(ngModel)]="description" rows="4"></textarea>
        </mat-form-field>
      </div>
    </mat-card-content>
    <button mat-raised-button  (click)="getAnnoncesRecommandees()">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home" ></mat-icon>
    </button>

  </mat-card></div>

  <div class="results" *ngIf="annoncesRecommandees.length > 0">
    <h3>Annonces recommandées :</h3>
    <div class="grid-container">
      <div class="grid-item" *ngFor="let annonce of annoncesRecommandees">
        <div class="annonce-card">
          <h4>{{ annonce.Titre }}</h4>
          <p>{{ annonce.emplacement }}</p>
          <p>{{ annonce.Salaire }}</p>
          <p>{{ annonce.Type_de_contrat }}</p>
          <p>{{ annonce.Description }}</p>
          <p>Cluster : {{ annonce.cluster }}</p>
          <p>Similarité : {{ annonce.similarity }}</p>
          <p>{{annonce.Competences_requises}}</p>
          <!-- Ajoutez d'autres attributs ici selon vos besoins -->
        </div>
      </div>
    </div>
  </div>

</div>

